.section.newsfeed: .ctn
  .section__header: .row: .col.md-8.omd-2.lg-6.olg-3.xl-4.oxl-4
    h2 noutați
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

  .owl-carousel
    .newsfeed__item
      a.item__header(href="")
        img(src="https://dummyimage.com/590x760/a572cd/eceff1", alt="").image
        span.title Lorem ipsum dolor sit amet consectetur.
      .intro: p Ut enim ad min im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .newsfeed__item
      a.item__header(href="")
        img(src="https://dummyimage.com/760x590/21bda9/eceff1", alt="").image
        span.title Lorem ipsum dolor sit amet consectetur.
      .intro: p Ut enim ad min im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .newsfeed__item
      a.item__header(href="")
        img(src="https://dummyimage.com/760x760/969be9/464646", alt="").image
        span.title Lorem ipsum dolor sit amet consectetur.
      .intro: p Ut enim ad min im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

