.showrooms: .ctn
  .showrooms__header Găsiți un showroom confort

  .showrooms__list: ul
    li: a(href="")
      span.text Moldova
      + icon('#next')
    li: a(href="")
      span.text Romania
      + icon('#next')
    li: a(href="")
      span.text Ucraina
      + icon('#next')
    li: a(href="")
      span.text Rusia
      + icon('#next')
    li: a(href="")
      span.text Kazahstan
      + icon('#next')
