.confort__header {
  background: rgba($th_blk, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 50;

  .topline {
    &__wraper {
      position: relative;
      padding-left: 240px;
    }

    .brand {
      position: absolute;
      user-select: none;
      color: $th_wht_1;
      transition: 0.15s ease-in-out;
      top: 20px;
      left: 0;

      .logo {
        display: block;
        width: 186px;
        height: 60px;
      }

      &:hover {
        color: $th_1;
      }
    }

    .lang {
      position: absolute;
      top: 16px;
      left: 130px;

      .dropdown__toggle {
        display: block;
        color: $th_wht_1;
        background-color: $th_drk_2;
        padding: 3px 6px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.15s ease-in-out;
        white-space: nowrap;

        &:hover {
          opacity: 0.85;
        }
      }

      .dropdown__menu {
        background-color: $th_wht_1;
        width: 100%;
        border: 1px solid $th_lht_1;
        text-align: center;
        font-weight: 700;

        ul {
          padding: 0;
          li {
            border-bottom: 1px solid $th_lht_1;
            &:last-child {
              border-bottom: 0;
            }
            &.current {
              display: none;
            }

            a {
              display: block;
              font-size: 12px;
              line-height: 20px;
              text-transform: uppercase;
              color: $th_blk;
              transition: 0.15s linear;

              &:hover {
                background-color: $th_1;
                color: $th_wht_1;
              }
            }
          }
        }
      }

      .open .dropdown__toggle {
        background-color: $th_wht_1;
        color: $th_blk;
      }
    }

    .navs {
      display: flex;
      align-items: center;
      padding: 5px 0;

      .sep {
        flex: 1;
      }

      a {
        display: block;
        color: $th_wht_1;
        text-decoration: none;
        transition: 0.25s ease-in-out;
        font-size: 14px;
        line-height: 20px;

        .icon {
          font-size: 16px;
        }

        .text {
          padding-left: 0.5em;
          white-space: nowrap;
          display: inline-block;
          vertical-align: middle;
        }

        &:hover {
          color: rgba($th_wht_2, 0.5);
        }
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        line-height: 1;
        width: 40px;
        height: 40px;

        .icon {
          display: block;
          width: 24px;
          height: 24px;
        }
      }

      nav ul {
        display: flex;
        align-items: center;
      }

      .contacts {
        ul li {
          padding-right: 10px;

          &:first-child {
            margin-right: 10px;
            border-right: 1px solid $th_drk_2;
          }
        }
      }
    }

    .nav__toogle {
      display: none;
      position: absolute;
      top: 10px;
      left: 0;
      transition: 0.25s linear;
      cursor: pointer;
    }

    @include tabletScreenDown {
      &__wraper {
        padding-left: 200px;
      }

      .nav__toogle {
        display: block;
        align-items: center;
        justify-content: space-around;
        line-height: 1;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 1px solid currentColor;
        color: $th_wht_1;

        span {
          display: block;
          width: 24px;
          height: 1px;
          background: currentColor;
          transition: transform 0.15s linear;
        }

        &:before,
        &:after {
          content: '';
          display: block;
          width: 24px;
          height: 1px;
          position: absolute;
          background: currentColor;
          transform-origin: center;
        }

        &:before {
          margin-top: -5px;
        }

        &:after {
          margin-top: 4px;
        }

        &:hover,
        &.active {
          background-color: $th_lht_2;
          color: $th_blk;
        }

        &.active {
          span {
            transform: scaleX(0);
          }
          &:before,
          &:after {
            transition: transform 0.15s 0.25s linear;
            margin: 0;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .brand {
        top: 10px;
        left: 60px;

        .logo {
          width: 124px;
          height: 40px;
        }
      }
      .lang {
        position: static;
        margin-right: 20px;
      }
      .navs {
        padding: 10px 0;

        a {
          font-size: 12px;
        }
      }
    }
  }

  .mainline {
    position: relative;

    &__wraper {
      margin-left: 240px;
      border-top: 1px solid $th_drk_2;
    }

    .mainmenu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: -1px;

      li {
        padding: 0 1px;
        display: block;

        a {
          color: $th_wht_1;
          border-top: 2px solid transparent;
          padding: 13px 10px 15px;
          text-decoration: none;
          display: block;
          transition: border-top 0.5s ease-in-out, color 0.15s linear;

          .text,
          .caret {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
          }

          .caret {
            transform: rotate(90deg);
            transition: transform 0.25s linear;
          }
        }

        &.current a,
        &.open a,
        a:hover {
          border-top: 2px solid $th_wht_1;
          color: rgba($th_wht_2, 0.5);
          .caret {
            transform: rotate(-90deg);
          }
        }
      }
    }

    @include tabletScreenDown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba($th_blk, 0.95);

      &__wraper {
        margin: 0;
        padding-top: 10px;
        border: 0;
      }

      .search {
        border-bottom: 1px solid $th_drk_2;
        padding-bottom: 10px;
      }

      .mainmenu {
        justify-content: space-between;

        font-size: 12px;

        li a .caret {
          display: none;
        }
      }
    }

    @include smallScreenDown {
      .mainmenu {
        padding-bottom: 10px;
        display: block;

        li {
          a {
            border: 0 !important;
            padding: 10px 0;
            text-align: center;
          }

          a:hover,
          a.current {
            color: $th_lht_2;
          }
        }
      }
    }
  }

  .bottomline {
    background-color: rgba($th_blk, 0.95);
    border-top: 1px solid $th_drk_2;

    &__wraper {
      padding: 0 240px;
      display: flex;
      align-items: center;
    }

    &__carousel {
      flex: none;
      width: 480px;
    }

    &__nav {
      flex: 1;

      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;

        li {
          width: 50%;

          a {
            display: block;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: $th_lht_2;
            display: block;
            padding: 5px 0;
            text-decoration: none;
            transition: 0.15s ease-in-out;

            .text {
              display: inline-block;
              line-height: 1;
              vertical-align: middle;
            }

            .icon {
              opacity: 0;
              margin-left: -0.5em;
              transition: 0.35s ease-in-out;
            }

            &:hover {
              color: $th_wht_1;

              .icon {
                opacity: 1;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  .search {
    &__form {
      position: relative;
      display: flex;
      z-index: 10;

      button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        line-height: 1;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        color: $th_wht_1;
        transition: 0.25s ease-in-out;
        margin-left: 10px;

        &:hover {
          color: rgba($th_wht_2, 0.5);
        }

        .icon {
          display: block;
          width: 24px;
          height: 24px;
        }
      }

      input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $th_drk_2;
        color: $th_wht_1;
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
        margin: 0;
        box-shadow: none;
        width: 210px;
        transition: 0.15s linear;

        &:focus {
          background-color: $th_drk_2;
        }

        @include tabletScreenDown {
          width: auto;
          flex: 1;
        }
      }

      .lifesearch {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: $th_wht_1;
        padding: 20px 10px 10px;
        color: $th_drk_2;
        margin-top: 15px;
        width: 100%;
        display: none;

        &:before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background-color: $th_wht_1;
          position: absolute;
          top: -5px;
          left: 10px;
          transform: rotate(45deg);
        }

        h5 {
          font-size: 12px;
          line-height: 1;
          text-transform: uppercase;
          margin: 0 0 10px;
          color: rgba($th_blk, 0.5);
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            padding: 5px 0;

            a {
              display: block;
              font-size: 14px;
              line-height: 20px;
              color: $th_1;
              text-decoration: none;

              &:hover {
                color: $th_blk;
              }
            }
          }
        }
      }
    }
  }

  .mobileline {
    display: none;
  }

  @include tabletScreenDown {
    padding-top: 20px;
    transform: translateY(-20px);

    .mobileline {
      display: block;
      overflow: hidden;
      background-color: $th_blk;
      height: 30px;
      padding-top: 2px;
      padding: 2px 0;
      border-top: 1px solid $th_drk_2;
      border-bottom: 1px solid $th_drk_2;

      ul {
        display: flex;
        overflow-x: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        position: relative;
        z-index: 0;

        li {
          padding: 0 1px 20px;
          display: block;

          &:last-child {
            padding-right: 40px;
          }

          a {
            display: block;
            font-size: 12px;
            line-height: 16px;
            padding: 4px 10px;
            text-transform: uppercase;
            background-color: $th_1;
            color: $th_wht_1;
            text-decoration: none;
            transition: 0.15s linear;

            &:hover {
              background-color: $th_drk_2;
            }
          }
        }
      }

      .ctn {
        position: relative;
        &:after {
          position: absolute;
          width: 40px;
          height: 100%;
          content: '';
          display: block;
          background: linear-gradient(90deg, rgba($th_blk, 0) 0%, $th_blk 100%);
          z-index: 1;
          top: 0;
          right: 10px;
        }
      }
    }
  }

  @include smallScreenDown {
    padding-top: 30px;
    transform: translateY(0);

    .topline {
      .brand {
        top: 15px;
        left: 50px;

        .logo {
          height: 30px;
          width: 95px;
        }
      }
      .navs {
        .contacts {
          position: absolute;
          top: -20px;
          left: 0;

          ul li {
            display: none;
            white-space: nowrap;

            &:nth-child(1),
            &:nth-child(2) {
              display: inline-block;
            }
          }
        }

        .buttons li {
          padding-left: 10px;
        }
      }
      .lang {
        position: absolute;
        top: -20px;
        right: 0;
        left: auto;
        margin: 0;
      }
    }
  }
}
