.section {
  padding: 60px 0;

  &__header {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 28px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0 0 10px;
      padding-bottom: 10px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80px;
        height: 2px;
        background-color: $th_1;
        margin-left: -40px;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 200;
    }

    @include smallScreenDown {
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  &.newsfeed {
    background-color: $th_wht_1;

    .newsfeed__item {
      .item__header {
        display: block;
        height: 0;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        background-color: $th_drk_1;

        .image {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.35s ease-in-out, transform 1s linear;
          z-index: 0;
          object-fit: cover;
        }

        &:hover .image {
          opacity: 0.35;
          transform: scale(1.25);
        }
      }

      .title {
        display: block;
        background-color: $th_wht_1;
        color: $th_drk_1;
        padding: 10px 10px 10px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 50%;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 200;
      }

      .intro {
        padding: 20px 0;

        p {
          margin: 0;
          color: rgba($th_drk_1, 0.5);
        }
      }

      @include tabletScreenDown {
        .title {
          font-size: 20px;
          width: 75%;
        }
      }

      @include smallScreenDown {
        padding-bottom: 40px;
        .title {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    @include extraScreen {
      .ctn {
        padding: 0 220px;
      }
    }

    @include tabletScreenDown {
      padding: 40px 0 20px;
    }

    @include smallScreenDown {
      .newsfeed__item {
        .intro {
          padding: 10px 0 0;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

.welcome__slider {
  z-index: 1;

  .slide {
    padding-top: 100px;
    padding-bottom: 350px;

    .ctn {
      position: relative;
      z-index: 2;
    }

    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba($th_blk, 0.65);
    }

    &__action {
      background-color: rgba($th_1, 0.9);
      padding: 20px;
      top: 0;
      margin-left: 250px;
      color: $th_wht_1;
      width: 320px;

      .action__header {
        padding: 10px 0;
        border-bottom: 1px solid currentColor;
        text-transform: uppercase;

        small,
        span {
          display: block;
        }

        small {
          font-size: 18px;
          line-height: 1;
          font-weight: 500;
        }

        span {
          font-size: 32px;
          line-height: 1.2;
          font-weight: 200;
        }
      }

      .action__body {
        padding: 10px 0;
      }

      .action__title {
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .action__value {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span,
        small {
          display: block;
        }

        span {
          font-size: 80px;
          line-height: 1;
          font-weight: 200;
        }

        small {
          font-size: 10px;
          line-height: 1;
          font-weight: 700;
          text-transform: uppercase;
          min-width: 40px;
          color: $th_1;
          background-color: $th_wht_1;
          text-align: center;
          padding: 4px 2px 2px;
          white-space: nowrap;
        }
      }

      .btn {
        display: block;
        width: 100%;
      }
    }
  }

  .owl-item {
    .slide__action {
      transition: 1s 0.35s ease-in-out;
      opacity: 0;
    }
    &.active .slide__action {
      opacity: 1;
    }
  }

  &.owl-grab {
    .owl-item .slide__action {
      transition: 0.15s 1s ease-in-out;
      opacity: 0;
    }
  }

  .owl-dots {
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 5px;
    transform: translateY(-50%);

    .owl-dot {
      display: block;
      height: 15px;
      margin-bottom: 5px;
      position: relative;
      width: 40px;
      font-size: 0;
      line-height: 1;

      &:after {
        position: absolute;
        content: '';
        background-color: $th_wht_1;
        right: 0;
        top: 50%;
        height: 2px;
        margin-top: -1px;
        width: 50%;
        display: block;
        opacity: 0.5;
        transition: 0.15s ease-in-out;
      }

      &:hover:after {
        width: 75%;
        opacity: 1;
      }

      &.active:after {
        width: 100%;
        height: 3px;
        opacity: 1;
        background-color: $th_1;
        margin-top: -1.5px;
      }
    }
  }

  @include tabletScreenDown {
    .slide {
      padding-top: 90px;
      padding-bottom: 20%;
      &__action {
        margin-left: 0;
        padding: 10px;
        width: 280px;

        .action__header {
          padding: 5px 0;
          small {
            font-size: 14px;
          }
          span {
            font-size: 18px;
          }
        }
        .action__body {
          display: flex;
          align-items: center;
          padding-bottom: 0;
        }
        .action__title {
          font-size: 12px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
        }

        .action__value {
          span {
            font-size: 56px;
          }

          small {
            font-size: 8px;
            font-weight: 700;
            line-height: 10px;
            padding: 2px 2px 0;
          }
        }
      }
    }
  }

  @include smallScreenDown {
    .owl-dots {
      display: none;
    }

    .slide {
      padding: 160px 0 80px;
      &__action {
        margin: 0 auto;
        .action__header {
          display: none;
        }
      }
    }
  }
}

.welcome__categories {
  position: relative;
  z-index: 2;

  &__list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        a {
          display: block;
          position: relative;
          overflow: hidden;
          position: relative;
          text-decoration: none;
          background-color: $th_drk_1;
          border: 1px solid $th_lht_1;

          .image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.25s ease-in-out;
            z-index: 0;
            object-fit: cover;
          }

          .title {
            padding: 5px 10px;
            position: absolute;
            z-index: 2;
            background-color: rgba($th_blk, 0.8);
            color: $th_wht_1;
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
          }

          &:hover .image {
            opacity: 0.85;
          }
        }
      }
    }
  }
  &__header {
    h2 {
      font-size: 28px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0 0 10px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      color: rgba($th_drk_1, 0.5);
      font-weight: 200;
      margin: 0 0 10px;
    }
  }
  &__footer {
    padding-top: 5px;
    text-align: center;
  }

  .shadows {
    display: none;
  }

  @include smallScreenDown {
    padding-top: 40px;
    padding-bottom: 40px;

    &__header {
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
      }
      .btn {
        display: none;
      }
    }

    &__list ul {
      display: flex;
      margin: 0 -5px;

      flex-wrap: wrap;

      li {
        display: block;
        padding: 5px;
        flex: none;
        width: 50%;

        a {
          padding-top: 100%;

          .title {
            width: 100%;
            left: 0;
            bottom: 0;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }

  @include tabletScreenUp {
    .shadows {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      overflow: hidden;
      display: block;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: $th_wht_2;
        height: 280px;
        width: 100vw;
        z-index: 0;
      }

      &:before {
        left: 65%;
        top: 0;
      }
      &:after {
        content: '';
        right: 65%;
        bottom: 0;
      }
    }
    .ctn {
      position: relative;
      z-index: 1;
    }
    &__header {
      position: absolute;
    }

    &__footer {
      display: none;
    }

    &__list {
      li {
        position: absolute;
        z-index: 1;

        a {
          .title {
            width: 160px;
          }
        }
      }
      .item-1 a .title {
        left: 0;
        top: 40px;
      }

      .item-2 a .title {
        left: 0;
        top: 40px;
      }

      .item-3 a .title {
        right: 0;
        top: 40px;
      }

      .item-4 a .title {
        right: 0;
        bottom: 40px;
      }
      .item-5 a .title {
        left: 0;
        bottom: 40px;
      }
      .item-6 a .title {
        left: 0;
        bottom: 40px;
      }
    }
  }

  @include tabletScreen {
    .ctn {
      height: 860px;
    }
    &__header {
      width: 390px;
      top: 250px;
      left: 10px;
    }

    &__list {
      .item-1 {
        left: 70px;
        top: -60px;
        width: 530px;

        a {
          height: 260px;
        }
      }
      .item-2 {
        left: 440px;
        top: 220px;
        width: 270px;

        a {
          height: 180px;
        }
      }
      .item-3 {
        left: 10px;
        top: 420px;
        width: 320px;

        a {
          height: 180px;
        }
      }
      .item-4 {
        left: 60px;
        top: 620px;
        width: 370px;

        a {
          height: 200px;
        }
      }
      .item-5 {
        left: 350px;
        top: 420px;
        width: 360px;

        a {
          height: 180px;
        }
      }
      .item-6 {
        left: 450px;
        top: 620px;
        width: 260px;

        a {
          height: 200px;
        }
      }
    }
  }

  @include mediumScreen {
    .ctn {
      height: 860px;
    }
    &__header {
      width: 390px;
      top: 330px;
      left: 10px;
    }

    &__list {
      .item-1 {
        left: 130px;
        top: -60px;
        width: 530px;

        a {
          height: 280px;
        }
      }
      .item-2 {
        left: 420px;
        top: 240px;
        width: 240px;

        a {
          height: 230px;
        }
      }
      .item-3 {
        left: 680px;
        top: 140px;
        width: 290px;

        a {
          height: 330px;
        }
      }
      .item-4 {
        left: 590px;
        top: 490px;
        width: 380px;

        a {
          height: 220px;
        }
      }
      .item-5 {
        left: 350px;
        top: 490px;
        width: 220px;

        a {
          height: 260px;
        }
      }
      .item-6 {
        left: 10px;
        top: 490px;
        width: 320px;

        a {
          height: 260px;
        }
      }
    }
  }

  @include largeScreen {
    .ctn {
      height: 920px;
    }
    &__header {
      width: 390px;
      top: 330px;
      left: 15px;
    }

    &__list {
      .item-1 {
        left: 145px;
        top: -60px;
        width: 630px;

        a {
          height: 320px;
        }
      }
      .item-2 {
        left: 535px;
        top: 280px;
        width: 240px;

        a {
          height: 230px;
        }
      }
      .item-3 {
        left: 795px;
        top: 140px;
        width: 370px;

        a {
          height: 370px;
        }
      }
      .item-4 {
        left: 665px;
        top: 530px;
        width: 500px;

        a {
          height: 250px;
        }
      }
      .item-5 {
        left: 405px;
        top: 530px;
        width: 240px;

        a {
          height: 310px;
        }
      }
      .item-6 {
        left: 15px;
        top: 530px;
        width: 370px;

        a {
          height: 310px;
        }
      }
    }
  }

  @include extraScreen {
    .ctn {
      height: 920px;
    }
    &__header {
      width: 390px;
      top: 330px;
      left: 270px;
    }

    &__list {
      .item-1 {
        left: 400px;
        top: -60px;
        width: 630px;

        a {
          height: 320px;
        }
      }
      .item-2 {
        left: 790px;
        top: 280px;
        width: 240px;

        a {
          height: 230px;
        }
      }
      .item-3 {
        left: 1050px;
        top: 140px;
        width: 370px;

        a {
          height: 370px;
        }
      }
      .item-4 {
        left: 920px;
        top: 530px;
        width: 500px;

        a {
          height: 250px;
        }
      }
      .item-5 {
        left: 660px;
        top: 530px;
        width: 240px;

        a {
          height: 310px;
        }
      }
      .item-6 {
        left: 270px;
        top: 530px;
        width: 370px;

        a {
          height: 310px;
        }
      }
    }
  }
}

.showrooms {
  padding: 10% 0;
  color: $th_wht_1;
  text-align: center;
  background-image: url(../img/showrooms_bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__header {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__list {
    ul {
      font-size: 0;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        padding: 5px 10px;

        a {
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;
          font-weight: 600;
          color: $th_wht_1;
          transition: 0.15s linear;

          .text {
            padding-right: 0.5em;
          }

          .icon {
            transform: translateX(-0.25em);
            transition: 0.25s linear;
            font-size: 14px;
            color: $th_wht_1;
          }

          &:hover {
            color: $th_lht_2;
            .icon {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
  @include tabletScreenDown {
    padding: 20% 0;
  }

  @include smallScreenDown {
    &__header {
      font-size: 24px;
      font-weight: 200;
    }
  }
}

.breadcrumbs {
  padding: 10px 0;
  user-select: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;

      &:after {
        content: '';
        display: block;
        width: 0.25em;
        height: 0.25em;
        border-right: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        transform: rotate(-45deg);
        margin: 0 20px;
      }

      span,
      a {
        display: block;
      }

      a {
        color: $th_wht_1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: $th_lht_2;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.page__intro {
  padding-top: 100px;
  position: relative;
  z-index: 0;
  background-color: $th_blk;
  color: $th_wht_1;
  text-align: center;
  transition: 0.15s linear;

  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: 0;
    object-fit: cover;
  }

  &__content {
    padding: 60px 0;

    h1 {
      margin: 0 0 5px;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 200;
    }

    p {
      margin: 0 0 5px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .ctn {
    position: relative;
    z-index: 1;
  }

  .row {
    justify-content: space-evenly;
  }

  &.hr {
    padding-bottom: 40px;

    .hr__contacts {
      display: inline-block;
      line-height: 20px;
      font-size: 14px;
      padding: 0 10px 10px;
    }

    @include smallScreenDown {
      padding-bottom: 20px;
    }
  }

  &.delivery,
  &.credit {
    padding-bottom: 40px;
  }

  &.contacts {
    .contacts__main {
      background-color: rgba($th_blk, 0.75);
      color: $th_wht_1;
      text-align: left;
      padding: 40px 20px;

      .item {
        margin-bottom: 10px;

        h4 {
          margin: 0 0 5px;
          font-size: 12px;
          line-height: 1.2;
          font-weight: 200;
          text-transform: uppercase;
          color: $th_lht_2;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          margin: 0;

          small {
            font-size: 12px;
            line-height: 1.2;
            display: block;
            color: $th_lht_2;
          }
        }

        .schedule {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;

          dd,
          dt {
            flex: none;
            width: 50%;
            margin: 0;
            padding: 0;
            display: block;
            line-height: 24px;
          }
          dt {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  @include tabletScreen {
    padding-top: 60px;
    &__content {
      padding: 30px 0;
    }
  }
}

.vacancies {
  .row {
    justify-content: space-around;
  }

  &__list {
    padding: 20px 0;
    .panel {
      margin-bottom: 6px;

      &__heading {
        background-color: $th_wht_1;

        a {
          display: flex;
          align-items: center;
          padding: 10px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          color: $th_drk_1;
          text-decoration: none;
          transition: 0.25s linear;

          &:hover {
            background-color: $th_drk_2;
            color: $th_wht_1;
          }

          span {
            display: block;
            flex: 1;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
            white-space: nowrap;
          }

          .icon {
            display: block;
            flex: none;
            transform: rotate(-90deg);
            transition: transform 0.25s ease-in-out;
          }

          &.collapsed .icon {
            transform: rotate(90deg);
          }
        }
      }

      &__body {
        padding: 20px 0 4px;

        p {
          font-size: 14px;
          line-height: 24px;
          margin: 0 0 24px;
          color: $th_drk_2;

          &:last-child {
            padding: 0;
          }
        }
      }
    }
  }

  &__footer {
    padding-top: 20px;

    h4 {
      margin: 0 0 10px;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 12px;
      line-height: 1;
    }

    p {
      margin: 0 0 5px;

      &:last-child {
        padding-top: 10px;
      }
    }
  }
}

.article {
  padding: 60px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
    padding: 20px 0 0;
    line-height: 1.2;

    &:first-child {
      padding: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 200;
  }

  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 12px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: $th_drk_2;
    margin: 0 0 20px;
  }

  a {
    color: $th_1;
    text-decoration: underline;
    font-weight: 600;
  }

  ol,
  ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    color: rgba($th_drk_2, 0.75);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    li {
      padding-left: 50px;
    }
  }

  ul {
    li {
      &:before {
        content: '';
        display: inline-block;
        color: $th_1;
        width: 5px;
        height: 5px;
        border-top: 1px solid currentColor;
        border-right: 1px solid currentColor;
        transform: rotate(45deg);
        margin-left: -30px;
        margin-right: 20px;
      }
    }
  }

  ol {
    counter-reset: __counter;

    li {
      counter-increment: __counter;
      &:before {
        content: '0' counter(__counter) '.';
        width: 30px;
        margin-left: -30px;
        display: inline-block;
        color: $th_1;
        font-weight: 700;
        font-size: 0.8em;
      }
    }
  }

  @include smallScreenDown {
    padding: 40px 10px;
  }
}

.credit__partners {
  padding: 60px 0;

  .section__header {
    margin-bottom: 40px;
  }

  .row {
    justify-content: center;
  }

  @include smallScreenDown {
    padding: 40px 0;
  }

  .partner {
    display: block;
    background-color: $th_wht_1;
    border: 1px solid $th_lht_2;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    user-select: none;

    img {
      display: block;
      width: 100%;
      transform: scale(0.75);
      filter: grayscale(1);
      transition: 0.25s linear;
      margin-bottom: 20px;
      opacity: 0.5;

      @include smallScreenDown {
        opacity: 0.75;
        filter: grayscale(0);
        transform: scale(0.75);
      }
    }

    &:hover img {
      opacity: 1;
      filter: grayscale(0);
      transform: scale(1);
    }
  }
}

.contacts__list {
  padding: 60px 0;

  .row {
    justify-content: space-around;
  }

  .contacts__tabs {
    overflow: hidden;
    ul {
      display: flex;
      justify-content: center;
      margin: 0 -1px 40px;
      padding: 0;
      list-style: none;

      li {
        display: block;
        margin: 0;
        padding: 0 1px;
        border-bottom: 1px solid $th_lht_2;
        cursor: pointer;
        user-select: none;

        span {
          display: block;
          padding: 10px 15px 8px;
          border-bottom: 2px solid transparent;
          margin-bottom: -1px;
          font-size: 12px;
          text-transform: uppercase;
          line-height: 20px;
          white-space: nowrap;
          font-weight: 700;
          transition: 0.15s linear;
        }

        &:hover {
          span {
            border-bottom-color: rgba($th_blk, 0.15);
          }
        }

        &.active {
          span {
            border-bottom-color: $th_blk;
          }
        }
      }
    }

    @include smallScreenDown {
      margin-bottom: 20px;
      position: relative;
      border-bottom: 1px solid $th_lht_2;

      ul {
        overflow-x: auto;
        padding-bottom: 20px;
        margin-bottom: -20px;
        display: block;
        white-space: nowrap;
        font-size: 0;
        padding-right: 20px;
        padding-left: 20px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 100%;
          background: linear-gradient(
            90deg,
            $th_lht_1 0%,
            rgba($th_lht_1, 0) 100%
          );
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba($th_lht_1, 0) 0%,
            $th_lht_1 100%
          );
        }

        li {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
          margin-bottom: 0;
          border-bottom: 0;

          span {
            padding-bottom: 7px;
            border-bottom: 3px solid transparent;
          }
        }
      }
    }
  }

  .contacts__items {
    .item {
      background-color: $th_wht_1;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      min-height: 120px;

      &__header {
        flex: none;
        width: 20%;
        padding: 20px;

        h4 {
          margin: 0;
          font-size: 24px;
          line-height: 1;
          font-weight: 200;

          small {
            display: block;
            color: $th_1;
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 700;
            padding-top: 5px;
          }
        }
      }

      &__region {
        flex: none;
        text-align: center;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 200;
        padding: 20px 40px;
      }

      &__address {
        padding: 20px;
        flex: none;
        width: 30%;

        p {
          margin: 0;
          font-size: 14px;
          line-height: 24px;
          font-weight: 200;
        }
      }

      &__contacts {
        padding: 20px;
        flex: 1;

        h5 {
          font-size: 12px;
          line-height: 1;
          text-transform: uppercase;
          color: $th_drk_2;
          margin: 0;
          font-weight: 200;
        }

        p {
          margin: 0 0 5px;
          white-space: nowrap;
          font-size: 14px;
          line-height: 24px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: underline;
            color: $th_blk;

            &[href^='tel:'] {
              text-decoration: none;
            }
            &:hover {
              color: $th_1;
            }
          }
        }
      }

      &__link {
        flex: none;
        padding: 20px;
      }

      @include mediumScreenDown {
        &__contacts {
          display: none;
        }
        &__address {
          flex: 1;
        }
      }

      @include tabletScreenDown {
        position: relative;
        padding: 20px 10px;

        &__region {
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px 10px;
          font-size: 12px;
          line-height: 15px;
          background-color: $th_drk_2;
          color: $th_wht_1;
          font-weight: 700;
          opacity: 0.15;
        }

        &__header {
          padding: 10px;
          flex: 1;
        }
        &__address {
          padding: 10px;
          flex: 2;
        }
        &__link {
          padding: 10px;
        }
      }

      @include smallScreenDown {
        display: block;

        &__header,
        &__address,
        &__link {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  @include smallScreenDown {
    padding: 40px 0;
  }
}

.modal {
  background-color: $th_wht_1;
  padding: 20px;
  position: relative;
  margin: 60px auto;
  max-width: 96%;
  user-select: none;

  &__close {
    position: absolute;
    top: -50px;
    right: 0;
    width: 40px;
    height: 40px;
    border: 1px solid $th_wht_1;
    color: $th_wht_1;
    z-index: 99;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    user-select: none;
    transition: 0.25s linear;

    .icon {
      position: relative;
      z-index: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: $th_wht_1;
      color: $th_blk;
    }
  }

  &__header {
    h2 {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 28px;
      line-height: 1.2;
      margin: 0 0 40px;
      padding-bottom: 5px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -40px;
        width: 80px;
        height: 2px;
        background-color: $th_1;
      }
    }

    @include smallScreenDown {
      h2 {
        font-size: 20px;
      }
    }
  }

  &__title {
    position: absolute;
    top: -40px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    left: 0;
    right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $th_wht_1;
  }

  &__footer {
    border-top: 1px solid $th_lht_2;
    padding-top: 20px;
  }

  &.credit {
    width: 800px;
    text-align: center;

    .partner__img img {
      max-width: 50%;
      display: block;
      margin: 0 auto 20px;
    }

    .partner__conditions {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;

        .icon {
          display: block;
          width: 48px;
          height: 48px;
          flex: none;
          margin-right: 10px;
        }

        .text {
          flex: 1;
          text-align: left;

          .title {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            color: $th_blk;
            margin-bottom: 5px;
          }

          .param {
            color: $th_lht_2;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  &.contact {
    width: 1020px;
    padding: 0;

    @include tabletScreenDown {
      width: 640px;
    }

    .contact__map {
      #map {
        width: 100%;
        height: 320px;
        background-color: $th_blk;
      }
    }

    .contact__body {
      background-color: $th_drk_1;
      color: $th_wht_1;
      padding: 40px 20px 20px;

      .link {
        margin-bottom: 10px;

        h5 {
          font-size: 12px;
          line-height: 1.2;
          font-weight: 200;
          text-transform: uppercase;
          margin: 0 0 5px;
          color: $th_lht_2;
        }

        p {
          margin: 0;
          font-size: 14px;
          line-height: 24px;
        }

        a {
          text-decoration: underline;
          color: $th_wht_1;
          transition: 0.15s linear;

          &[href^='tel:'] {
            text-decoration: none;
          }
          &:hover {
            color: $th_lht_2;
          }
        }
      }
    }

    .contact__address {
      h2 {
        font-weight: 200;
        font-size: 24px;
        line-height: 1.2;
        margin: 0 0 10px;

        small {
          display: block;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 1.2;
          padding-top: 5px;
          color: $th_1;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
      }

      @include tabletScreenDown {
        padding-bottom: 20px;
      }
    }

    .contact__about {
      padding-right: 100px;
      @include tabletScreenDown {
        padding-right: 0;
        padding-bottom: 20px;
      }
    }

    .contact__schedule {
      dl {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        dd,
        dt {
          flex: none;
          width: 50%;
          margin: 0;
          padding: 5px 0;
          display: block;
          line-height: 24px;
          border-bottom: 1px solid $th_lht_2;
        }
        dt {
          font-size: 12px;
          text-transform: uppercase;
        }

        dd {
          text-align: right;
        }
      }
    }

    @include smallScreenDown {
      .contact__links {
        padding-top: 20px;
      }
    }

    .modal__body {
      padding: 20px;

      h3 {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 200;
        margin: 0 0 10px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

div.gmnoprint, div.gmnoscreen, img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"], img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"], img[src*="https://maps.gstatic.com/mapfiles/api-3/images/"]
{
  display: none;
}
