extends layouts/layout
block VARS
  - var title = "Canapele"
block PAGE
  .page__intro.product
    .ctn
      .breadcrumbs: ul
        li: a(href="") Principala
        li: a(href="") Catalog
        li: a(href="") Canapele
        li: span Colțar Irina
      .row
        .col.xl-5.md-6.mobile__last: .product__main
          .product__main__header
            h1 Colțar Irina
            p Sunt posibile diferite variante de tapițerie! Prețul variază în funcție de materialele folosite. La comandă prețurile diferă față de prețurile afișate pe site!
          .product__main__price
            .row
              .col.sm-6
                .product__price
                  small price
                  span.current 19,450 MDL
                  span.old 27,800 MDL
              .col.sm-6
                button.btn.white__outline
                  +icon("#cart", "icon first")
                  span.text adaugă în coș
                .info
                  +icon("#info")
                  span.text The price varies depending on the materials used and dimensions.
          .product__main__dimensions
            .dimention__label dimensions
            .dimention
              input#dimention_1(type="radio", name="dimention" checked)
              label(for="dimention_1")
                span.input
                span.width
                  small width
                  span 3225 mm
                span.height
                  small height
                  span 2565 mm
                span.depth
                  small depth
                  span 830 mm
                span.sep
                span.space
                  small Sleeping space
                  span 1400 mm x 2615 mm
            .dimention
              input#dimention_2(type="radio", name="dimention")
              label(for="dimention_2")
                span.input
                span.width
                  small width
                  span 2565 mm
                span.height
                  small height
                  span 3225 mm
                span.depth
                  small depth
                  span 830 mm
                span.sep
                span.space
                  small Sleeping space
                  span 1400 mm x 2615 mm
          .product__main__params
            .row
              .col.xs-6: .params
                .params__label colors
                .params__list.lg
                  .params__item
                    input#color_1(type="radio", name="color", data-slide="0" checked)
                    label(for="color_1"): img(src="tmp/color_1.jpg", alt="")
                  .params__item
                    input#color_2(type="radio", name="color", data-slide="1")
                    label(for="color_2"): img(src="tmp/color_2.jpg", alt="")
                .params__list.sm: .carousel__sm.owl-carousel
              .col.xs-6: .params
                .params__label sidewalls
                .params__list.lg: .carousel__lg.owl-carousel
                  .params__item
                    input#sidewall_1(type="radio", name="sidewall", checked)
                    label(for="sidewall_1"): img(src="tmp/sidewall_1.jpg", alt="")
                  .params__item
                    input#sidewall_2(type="radio", name="sidewall")
                    label(for="sidewall_2"): img(src="tmp/sidewall_2.jpg", alt="")
                  .params__item
                    input#sidewall_3(type="radio", name="sidewall")
                    label(for="sidewall_3"): img(src="tmp/sidewall_3.jpg", alt="")
                  .params__item
                    input#sidewall_4(type="radio", name="sidewall")
                    label(for="sidewall_4"): img(src="tmp/sidewall_1.jpg", alt="")
                .params__list.sm: .carousel__sm.owl-carousel
        .col.xl-7.md-6.mobile__first
          .product__main__gallery
            .product__mobile__header: h1 Colțar Irina
            .ebaboba
              a.btn.primary.ebaboba__link(href="tmp/product_1.jpg" title="Colțar Irina")
                span În magazin
                img(src="tmp/product_1.jpg", alt="", data-group="ebaboba")
              -for(i=2;i<=4;i++)
                a.ebaboba__link(href="tmp/product_"+i+".jpg" title="Colțar Irina"): img(src="tmp/product_"+i+".jpg", alt="", data-group="ebaboba")
            .main__gallery.owl-carousel
              -for(i=1;i<=5;i++)
                a.js-smartPhoto(href="tmp/product_"+i+".jpg" title="Colțar Irina"): img(src="tmp/product_"+i+".jpg", alt="", data-group="main__gallery")
            .thumb__gallery.owl-carousel
              -for(i=1;i<=5;i++)
                .thumb: img(src="tmp/product_"+i+".jpg", alt="")
      .product__main__footer: .row
        .col.xl-5.md-6: .row
          .col.xs-12: a(href="#stofe").btn.white Vezi stofe
          .col.sm-6
            a(data-toggle="collapse" href="#collapse-info").btn.white__outline.collapsed
              span.text METODA DE EXTENSIE
              +icon('#next')
          .col.sm-6
            a(href="#modal3D" data-show="modal").btn.primary 
              +icon('#preview', 'icon first')
              span.text 3D view
  #collapse-info.product__info.collapse.fade: .ctn
    .row
      .col.md-6.lg-5.xl-4: .product__info__image: img(src="tmp/product_1.jpg", alt="")
      .col.md-6.lg-5.xl-4: .product__info__text
        h2 Descoperă o lume de flexibilitate
        p: strong O canapea modulară luxoasă și flexibilă, care te înconjoară confortabil
        p Când nevoile tale se schimbă, Jasper se poate schimba împreună cu tine. Aranjamentul de platforme, perne și rafturi poate fi ușor deplasat și amenajat pentru a se potrivi cu orice ocazie, indiferent dacă vă relaxați acasă, vă distrați familia și prietenii sau vă cazați oaspeții peste noapte.
    .product__info__footer: a(data-toggle="collapse" href="#collapse-info").btn.link
      span.text ÎNCHIDE
      +icon('#close')
  .section.product__design.light
    .ctn
      .section__header: .row: .col.lg-8.olg-2.xl-6.oxl-3
        h2 Flexible, modular sofa configurations
        p Hugo also offers incredible modular sofa flexibility - with arms and backs that can be repositioned to easily change whenever you need. Hugo is the ultimate modular sofa.
    .product__design__carousel.owl-carousel
      .item: img(src="tmp/Hugo1-1500x720pxl.png", alt="")
      .item: img(src="tmp/Hugo2-1500x720pxl.png", alt="")
      .item: img(src="tmp/Hugo3-1500x720pxl.png", alt="")
      .item: img(src="tmp/Hugo4-1500x720pxl.png", alt="")
  .section.product__design.dark
    .ctn
      .section__header: .row: .col.lg-8.olg-2.xl-6.oxl-3
        h2 Flexible, modular sofa configurations
        p Hugo also offers incredible modular sofa flexibility - with arms and backs that can be repositioned to easily change whenever you need. Hugo is the ultimate modular sofa.
    .product__design__carousel.owl-carousel
      .item: img(src="tmp/Hugo1-1500x720pxl.png", alt="")
      .item: img(src="tmp/Hugo2-1500x720pxl.png", alt="")
      .item: img(src="tmp/Hugo3-1500x720pxl.png", alt="")
      .item: img(src="tmp/Hugo4-1500x720pxl.png", alt="")
  .section.featured__products: .ctn
    .section__header: .row: .col.md-8.omd-2.lg-6.olg-3.xl-4.oxl-4
      h2 produse populare
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .catalog__list__items: .products__carousel.owl-carousel
      .product
        .product__header
          .left: span.new new
          .right: span.sale
            small reducere
            span -15%
        .product__preview
          a(href="").product__image: img(src="tmp/product_1.jpg", alt="")
        .product__title: a(href="") Colțar N-1
        .product__price
          span.current De la 12,600 MDL
          span.old De la 12,600 MDL
        .product__footer
          .row
            .col.xs-6: a.btn.dark__outline(href="")
              span.text vezi mai mult
              +icon('#next')
            .col.xs-6: a.btn.dark__outline(href="")
              span.text Adauga in cos
              +icon('#next')
      .product
        .product__header
          .left
          .right: span.sale
            small reducere
            span -15%
        .product__preview
          a(href="").product__image: img(src="tmp/product_2.jpg", alt="")
        .product__title: a(href="") Colțar N-2#{i}
        .product__price
          span.current De la 12,600 MDL
          span.old De la 12,600 MDL
        .product__footer
          .row
            .col.xs-6: a.btn.dark__outline(href="")
              span.text vezi mai mult
              +icon('#next')
            .col.xs-6: a.btn.dark__outline(href="")
              span.text Adauga in cos
              +icon('#next')
      .product
        .product__header
          .left: span.new new
          .right
        .product__preview
            a(href="").product__image: img(src="tmp/product_4.jpg", alt="")
        .product__title: a(href="") Colțar N-3#{i}
        .product__price
          span.current De la 12,600 MDL
        .product__footer
          .row
            .col.xs-6: a.btn.dark__outline(href="")
              span.text vezi mai mult
              +icon('#next')
            .col.xs-6: a.btn.dark__outline(href="")
              span.text Adauga in cos
              +icon('#next')
      .product
        .product__header
          .left
          .right: span.sale
            small reducere
            span -15%
        .product__preview
          a(href="").product__image: img(src="tmp/product_2.jpg", alt="")
        .product__title: a(href="") Colțar N-2#{i}
        .product__price
          span.current De la 12,600 MDL
          span.old De la 12,600 MDL
        .product__footer
          .row
            .col.xs-6: a.btn.dark__outline(href="")
              span.text vezi mai mult
              +icon('#next')
            .col.xs-6: a.btn.dark__outline(href="")
              span.text Adauga in cos
              +icon('#next')
      .product
        .product__header
          .left: span.new new
          .right
        .product__preview
            a(href="").product__image: img(src="tmp/product_4.jpg", alt="")
        .product__title: a(href="") Colțar N-3#{i}
        .product__price
          span.current De la 12,600 MDL
        .product__footer
          .row
            .col.xs-6: a.btn.dark__outline(href="")
              span.text vezi mai mult
              +icon('#next')
            .col.xs-6: a.btn.dark__outline(href="")
              span.text Adauga in cos
              +icon('#next')
  #stofe.section.featured__products: .ctn
    .section__header: .row: .col.md-8.omd-2.lg-6.olg-3.xl-4.oxl-4
      h2 Vezi stofe
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .catalog__list__items: .products__carousel.owl-carousel
      .product
        .product__preview
          a(href="tmp/product_1.jpg" data-link="stofe").product__image: img(src="tmp/product_1.jpg", alt="", data-group="ebaboba2")
        .product__title stofe N-1
      .product
        .product__preview
          a(href="tmp/product_2.jpg" data-link="stofe").product__image: img(src="tmp/product_2.jpg", alt="", data-group="ebaboba2")
        .product__title stofe N-2
      .product
        .product__preview
            a(href="tmp/product_4.jpg" data-link="stofe").product__image: img(src="tmp/product_4.jpg", alt="", data-group="ebaboba2")
        .product__title stofe N-3
      .product
        .product__preview
          a(href="tmp/product_2.jpg" data-link="stofe").product__image: img(src="tmp/product_2.jpg", alt="", data-group="ebaboba2")
        .product__title stofe N-4
      .product
        .product__preview
            a(href="tmp/product_4.jpg" data-link="stofe").product__image: img(src="tmp/product_4.jpg", alt="", data-group="ebaboba2")
        .product__title stofe N-5

  #modal3D.modal.widget3D.mfp-hide
    .modal__close: +icon('#close')
    .modal__title Colțar Irina
    .widget3D__wraper
      .widget3D__header
        +icon('#preview', 'icon first')
        span.text 3D view
      #widget3D.widget3D__canvas
      .widget3D__footer
        // toggle class active if option enabled
        button.btn.dark__outline(data-toggle="autoplay") autoplay
        button.btn.dark__outline(data-toggle="dimentions") show dimentions
    .widget3D__product
      .widget3D__product__params
        .param
          .label colors
          .param__container
            .param__item
              input#modal_color_1(type="radio", name="modal_color", data-color="3d.lo/color_base.png" checked)
              label(for="modal_color_1"): img(src="tmp/color_1.jpg", alt="")
            .param__item
              input#modal_color_2(type="radio", name="modal_color", data-color="3d.lo/color_base1.png")
              label(for="modal_color_2"): img(src="tmp/color_2.jpg", alt="")
            .param__item
              input#modal_color_3(type="radio", name="modal_color", data-color="3d.lo/color_base2.png")
              label(for="modal_color_3"): img(src="tmp/color_2.jpg", alt="")
            .param__item
              input#modal_color_4(type="radio", name="modal_color", data-color="3d.lo/color_base3.png")
              label(for="modal_color_4"): img(src="tmp/color_2.jpg", alt="")
        .param
          .label sidewalls
          .param__container
            .param__item
              input#modal_sidewall_1(type="radio", name="modal_sidewall", checked)
              label(for="modal_sidewall_1"): img(src="tmp/sidewall_1.jpg", alt="")
            .param__item
              input#modal_sidewall_2(type="radio", name="modal_sidewall")
              label(for="modal_sidewall_2"): img(src="tmp/sidewall_2.jpg", alt="")
            .param__item
              input#modal_sidewall_3(type="radio", name="modal_sidewall")
              label(for="modal_sidewall_3"): img(src="tmp/sidewall_3.jpg", alt="")
            .param__item
              input#modal_sidewall_4(type="radio", name="modal_sidewall")
              label(for="modal_sidewall_4"): img(src="tmp/sidewall_1.jpg", alt="")
        .sep
        .price
          .product__price
            small price
            span.current 19,450 MDL
            span.old 27,800 MDL
      .dimensions
        .label dimensions
        .dimention
          input#modal_dimention_1(type="radio", name="modal_dimention" checked)
          label(for="modal_dimention_1")
            span.input
            span.width
              small width
              span 3225 mm
            span.height
              small height
              span 2565 mm
            span.depth
              small depth
              span 830 mm
            span.sep
            span.space
              small Sleeping space
              span 1400 mm x 2615 mm
        .dimention
          input#modal_dimention_2(type="radio", name="modal_dimention")
          label(for="modal_dimention_2")
            span.input
            span.width
              small width
              span 2565 mm
            span.height
              small height
              span 3225 mm
            span.depth
              small depth
              span 830 mm
            span.sep
            span.space
              small Sleeping space
              span 1400 mm x 2615 mm
