// FOOTER 
footer.confort__footer
  .confort__footer__navs
    .ctn: .row
      .col.lg-2.md-3.xs-6.mbf
        .confort__footer__nav
          h4 companie
          ul
            li: a(href="") Despre Companie
            li: a(href="") oferte
            li: a(href="") Noutăți
            li: a(href="") Locuri vacante
            li: a(href="") Livrare
            li: a(href="") Contacte
      .col.lg-4.md-3
        .confort__footer__nav.catalog
          h4 catalog de productie
          ul
            li: a(href="") Canapele
            li: a(href="") Coltare
            li: a(href="") Scaune și mese
            li: a(href="") Paturi
            li: a(href="") Mobila corp
            li: a(href="") Seturi
            li: a(href="") Canapele
            li: a(href="") Coltare
            li: a(href="") Scaune și mese
            li: a(href="") Paturi
      .col.lg-3.md-3.xs-6.mbf.col.lg-2.md-3.xs-6.mbf
        .confort__footer__nav
          h4 filiale
          ul
            li: a(href="") România (Iași)
            li: a(href="") România (București)
            li: a(href="") România (Constanța)
            li: a(href="") Rusia (Moscova)
            li: a(href="") Kazahstan (Astana)
      .col.lg-3.md-3.mbl
        .confort__footer__contacts
          a.brand(href=""): +icon('#logo', 'logo')
          p Confort SRL — companie fondată în 1992.
          ul
            li
              +icon('#address')
              span.text str.Mesager 19, Republica Moldova, Chișinău
            li: a(href="tel:+37322843061")
              +icon('#phone')
              span.text (+373) 22 84-30-61
            li: a(href="mailto:confortmarketing@gmail.com")
              +icon('#email')
              span.text confortmarketing@gmail.com
          ul.social__list
            li: a(href="", target="_blank"): +icon('#facebook')
            li: a(href="", target="_blank"): +icon('#instagram')
  .confort__footer__copyrights
    .ctn: .row
      .col.sm-6: .copyright
        span © 2020 <a class="upper" href="./">confort srl</a>. 
        span Toate drepturile rezervate. Creat de <a href="http://minicode.md" target="_blank">MiniCode</a>.
        
      .col.sm-6.social__list: ul
        li: a(href="", target="_blank"): +icon('#facebook')
        li: a(href="", target="_blank"): +icon('#instagram')
